body {
  --theme-background: #fff;
  --theme-background-card: #fff;
  --theme-color-card: #000;

  margin: 0;
  background: var(--theme-background);
  padding: 10px;
}

body.dark {
  --theme-background: #4c4b4b;
  --theme-background-card: #303030;
  --theme-color-card: #fff;

}

.card {
  background: var(--theme-background-card);
  color: var(--theme-color-card);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 10px 16px;
  margin-top: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}